
.wireframes-header-content-footer-content-container-container {
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
}

.wireframes-header-content-footer-content-container {
  display: inline-block;
}
